
body {
  color: #779863;
  background-color: #D8CD9B;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
}

a {
  font-family: 'Reenie Beanie', cursive;
  color: #779863;
  text-decoration: none;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
color: #779863;
font-size: 5em;
font-weight: bold;
}

#foodproduction {
  font-family: 'Reenie Beanie', cursive;
  width: 25em
}


p {
  font-family: 'Reenie Beanie', cursive;
  color: white;
  font-size: 2em;
}

#info {
  font-family: 'Reenie Beanie', cursive;
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  color: #779863;
  font-variant: small-caps;
}

#plants {
  font-family: 'Reenie Beanie', cursive;
  width: 20em;
}

h3 {
  font-family: 'Reenie Beanie', cursive;
  color: #779863;
  font-size: 3em;
  font-weight: bold;
}

#sustainablestyle {
  font-family: 'Reenie Beanie', cursive;
  width: 19em;
}

#carouselExampleIndicators1 {
    font-family: 'Reenie Beanie', cursive;
  width: 20em;
  height: 15em;
}

#carouselExampleIndicators2 {
    font-family: 'Reenie Beanie', cursive;
  width: 20em;
  height: 15em;
}

#carouselExampleIndicators3 {
    font-family: 'Reenie Beanie', cursive;
  width: 20em;
  height: 15em;
}

#reduce {
    font-family: 'Reenie Beanie', cursive;
  width: 15em;
}

#menstrualcup {
    font-family: 'Reenie Beanie', cursive;
  width: 15em;
}

#clothes {
    font-family: 'Reenie Beanie', cursive;
  width: 20em;
}

#tree {
    font-family: 'Reenie Beanie', cursive;
  width: 19em;
}

#farmer {
    font-family: 'Reenie Beanie', cursive;
  width: 19em
}

#mealprepping {
    font-family: 'Reenie Beanie', cursive;
  width: 19em
}
ol {
    font-family: 'Reenie Beanie', cursive;
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-evenly;
}

li {
      font-family: 'Reenie Beanie', cursive;
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  background-color: #814853;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  padding: .5em;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  text-decoration: none;

}
.button:hover {
  background-color: #779863;
  text-decoration: none;
}

.dropbtn {
  background-color: #814853;
  color: white;
  padding: 0.5em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #814853;
  font-family: 'Reenie Beanie', cursive;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
  text-decoration: none;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #814853;
  min-width: 17em;
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
  positon: relative;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 0em 0em;
  background-color: #814853;
  text-decoration: none;
  display: block;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #779863}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* The container <div> - needed to position the dropdown content */
