body {
  color: #ffffff;
  background-color: #D8CD9B;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
}
title{
  font-size: 5em;
}
h1 {
  color: #779863;
  font-size: 4em;
}
h2 {
  color: #779863;
  font-size: 4em;
}
p{
  font-size: 3em;
}
a {
  color: #779863;
}

.button {
  background-color: #814853;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  padding: 1em;
  font-size: 2em;
  border: none;
  cursor: pointer;
  text-decoration: none;

}
.button:hover {
  background-color: #779863;
  text-decoration: none;
}

.dropbtn {
  background-color: #814853;
  color: white;
  padding: 1em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #814853;
  font-family: 'Reenie Beanie', cursive;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Reenie Beanie', cursive;
  text-decoration: none;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #814853;
  min-width: 17em;
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
  positon: relative;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 1em 1em;
  background-color: #814853;
  text-decoration: none;
  display: block;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #779863}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* The container <div> - needed to position the dropdown content */
